a {
  font-size: 30px;
  margin: 20px;
}

#test {
  background: green;
}

h1 {
  text-align: center;
}

td {
  border: 1px solid;
  padding: 7px;
  text-align: center;
}

table {
  width: 95%;
  border-collapse: collapse;
  background-color: #e9ffd9;
}

.head {
  font-weight: bold;
  background-color: #ff96b8;
}
input {
  margin: 10px;
}
