a {
  font-size: 30px;
  margin: 20px;
}


h1 {
  text-align: center;
}

td {
  border: 1px solid;
  text-align: center;
  width: 100px;

}

table {

  border-collapse: collapse;

  margin: 20px;
}

.head {
  font-weight: bold;
  background-color: #9ed5ff;
}

.redLine {
  background-color: #ffa8c1;
}
.yellowLine {
  background-color: #fff08c;
}
.greenLine {
  background-color: #91d190;
}
.image {
  height: 30px;
}
