a {
  font-size: 30px;
  margin: 20px;
}

#test {
  background: green;
}

h1 {
  text-align: center;
}

td {
  border: 1px solid;
  padding:  1px;
  text-align: center;
}

table {
  width: 45%;
  border-collapse: collapse;

  margin: 20px;
}

.head {
  font-weight: bold;
  background-color: #9ed5ff;
}
input {
  margin:  5px;
  width: 80px;
}
.redLine {
  background-color: #ffa8c1;
}
.yellowLine {
  background-color: #fff08c;
}
.greenLine {
  background-color: #91d190;
}
.image {
  height: 30px;
}
.nameCheck {
  width: 150px;
}
.scoreCheck, .courseCheck {
  width: 100px;
}
